@model sanoya_sandbox.Database.Question

@{
}



<div class="w-screen flex flex-col items-center">
    <span class="text-lg">Hello, welcome to questions for meetings.</span>
    <div class="p-6 mx-auto bg-gradient-to-r from-cyan-500 to-blue-500 rounded-xl shadow-lg">
        <p>@Html.DisplayFor(modelItem => modelItem.Body)</p>
        <p>@Html.DisplayFor(modelItem => modelItem.Category)</p>
        <p>@Html.DisplayFor(modelItem => modelItem.TimesUsed)</p>
    </div>
    <a class="px-3 py-2 bg-green-600 rounded-xl my-2 shadow-lg"asp-action="Index">Get Another Question</a>
</div>

